name: PR

on:
  pull_request:
    paths:
      - '**'
      - '!**/*.md'
      - '!**/*.yml'
      - '!**/*.yaml'
      - '.github/workflows/pr.yml'

concurrency:
  group: pr-${{ github.ref }}
  cancel-in-progress: true

permissions:
  packages: read

jobs:
  vs-ponyc-release:
    name: Test against recent ponyc release
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ponylang/shared-docker-ci-standard-builder:release
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Test
        run: make test
